.App {
  text-align: center;
}

body{
  font-family: 'nanumsquare';
}
.nav{
  background: rgb(255, 255, 255);
  display: flex;
  color: rgb(57, 79, 153);
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
}
.main{
  height: 1000px;
  background-image: url(/public/img/night_m3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment: fixed; 스무스해짐 */
  background-size: cover;
  padding-top: 1px;
}
.main-txt{
  color: aliceblue;
  font-size: 50px;
  margin-top: 20rem;
  font-weight: 400;
  line-height: 60%;
  
}

.banner {
  width: 100%;
  height: 1000px;
  background-image: url(/public/img/main_beach.jpg);
  background-size: cover; /* 핵심코드 */
  position: relative; /* 핵심코드 */
  display:flex;
  max-width: 100%;
  background-repeat :no-repeat;
  
}

.banner-txt {
  position: absolute; /* 핵심코드 */
  top: 60%; /* 핵심코드 */
  left: 25%; /* 핵심코드 */
  transform: translate( -100%, -100%); /* 핵심코드 */
  text-align: left;
  vertical-align: middle;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5);
}
.banner2 {
  width: 700px;
  height: 1000px;
  background-image: url(/public/img/aa.jfif);
  background-size: cover; /* 핵심코드 */
  position: relative; /* 핵심코드 */
  display:flex;
}
.banner-txt2 {
  position: relative; /* 핵심코드 */
  top: 60%; /* 핵심코드 */
  left: 100%; /* 핵심코드 */
  transform: translate( -100%, -100%); /* 핵심코드 */
  text-align: left;
  color: rgb(25, 0, 255);
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
