body {
  margin: 0;
  overflow-y: hidden;
  font-family: 'nanumsquare';
}
/* .nav{
  background: rgb(255, 255, 255);
  display: flex;
  color: rgb(57, 79, 153);
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
} */
.outer {
  height: 100vh;
  overflow-y: auto;
}

.inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.main-1 {
  background-image: url(/public/img/night_m3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment: fixed; 스무스해짐 */
  background-size: cover;
  padding-top: 1px;
}
.main-txt{
  color: rgb(255, 255, 255);
  font-size: 50px;
  line-height: 60%;
  text-align: center;
  
}
.main-2 {
  background-color: #b6d8f2;
}
.banner-txt1 {
  font-size: x-large;
  text-align: left;
  color: rgb(0, 0, 0);
}

.main-3 {
  width: 100%;

  background-image: url(/public/img/main_beach.jpg);
  background-size: cover; /* 핵심코드 */
  position: relative; /* 핵심코드 */
  display:flex;
  max-width: 100%;
  background-repeat :no-repeat;
}
.banner-txt2 {
  margin-right: 90rem;
  font-size: x-large;
  text-align: left;
  color: rgb(255, 255, 255);
}
.main-4 {
  width: 700px;
  background-image: url(/public/img/aa.jfif);
  background-size: cover; /* 핵심코드 */
  position: relative; /* 핵심코드 */
  display:flex;
}
.banner-txt3 {
  font-size: x-large;
  text-align: left;
  color: rgb(0, 0, 0);
}



/* .divider {
  width: 100%;
  height: 5px;
  background-color: gray;
} */
